:host {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  --height: 75dvh;
  position: relative;
  width: 100%;
  height: var(--height);
  border-top: 5px solid #ebebeb;
  border-bottom: 5px solid #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/super_earth.webp');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: saturation;
    opacity: 0.05;
  }
}

.bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;

  .helpSection {
    .help {
      font-style: italic;
      font-size: 0.8rem;
      text-align: center;
      color: #ffffff8c;
      text-shadow: 0 0 2px #ffffff8c;
      span {
        font-style: normal;
        background-color: #ffffffc2;
        color: var(--text);
        display: inline-block;
        min-width: 15px;
        width: auto;
        padding: 0 5px;
        border-radius: 6px;
        line-height: 22px;
      }
    }
  }

  .footer {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;

    .disclaimer {
      font-size: 0.8rem;
      font-style: italic;
    }
  }
}
