<h1>STRATAGEM HERO</h1>
<div class="credits">
  <h2>Credits</h2>
  <p>
    This is a non-profit project made by a fan for fans. The "Stratagem Hero" logo/name and all the stratagem art used in this minigame are property of
    <a href="https://www.arrowheadgamestudios.com/">Arrowhead Game Studios</a>
    and <a href="https://sonyinteractive.com/">Sony Interactive Entertainment</a>.
  </p>
  <h3>Helldivers 2</h3>
  <p>
    If you want to play the full game, you can find it on
    <a href="https://store.steampowered.com/app/553850/HELLDIVERS_2/">Steam</a>. Enlist in the Helldivers and join the fight for freedom across a hostile galaxy in a
    fast, frantic, and ferocious third-person shooter. Or if you prefer, you can find it on
    <a href="https://www.playstation.com/en-us/games/helldivers-2/">PlayStation Store</a>.
  </p>
  <h3>Arrowhead Game Studio</h3>
  <p>
    Arrowhead Game Studios is an independent game development studio based in Stockholm, Sweden. The studio is best known for their hit game
    <a href="https://www.arrowheadgamestudios.com/games/magicka/">Magicka</a> and the Gauntlet series. They the fantastic series of
    <a href="https://www.arrowheadgamestudios.com/games/helldivers/">Helldivers</a>, the game where the stratagems are from.
  </p>

  <h3>GitHub Repository</h3>
  <p>
    You can find the source code of this project in the following
    <a href="https://github.com/byjokese/stratagem-hero>">GitHub Repository</a>. Feel free to report any issues or suggest improvements.
  </p>
</div>
