/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Monda-Regular';
  src:
    url('/assets/fonts/Monda-Regular.ttf.woff') format('woff'),
    url('/assets/fonts/Monda-Regular.ttf.svg#Monda-Regular') format('svg'),
    url('/assets/fonts/Monda-Regular.ttf.eot'),
    url('/assets/fonts/Monda-Regular.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monda-Bold';
  src:
    url('/assets/fonts/Monda-Bold.ttf.woff') format('woff'),
    url('/assets/fonts/Monda-Bold.ttf.svg#Monda-Bold') format('svg'),
    url('/assets/fonts/Monda-Bold.ttf.eot'),
    url('/assets/fonts/Monda-Bold.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #292a2c;
  color: #fff;
  font-family: 'Monda-Regular';
  -webkit-user-select: none;
  user-select: none;

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
  }
  &::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 100%, rgba(0, 0, 0, 0.25) 100%),
      linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size:
      100% 2px,
      3px 100%;
    pointer-events: none;
  }

  a {
    color: var(--highlight);
    text-decoration: none;
  }
}

:root {
  --text: #1d1d1d;
  --highlight: #ffff7d;

  --arrow-completed: #f7f7af;
  --error: #dd6868;
}
