:host {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 5.5rem;
  font-family: 'Monda-Bold';
  text-shadow: 0 0 6px #ffffff8c;
}

.menu {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;

  .menu-item {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &__text {
      font-size: 2rem;
      padding: 0 1rem;
      text-shadow: 0 0 2px #ffffff8c;
      text-transform: uppercase;
      &.active {
        background-color: var(--highlight);
        color: var(--text);
        text-shadow: 0 0 2px var(--text);
        box-shadow: 0 0 4px var(--highlight);
        border-radius: 5px;
      }

      &.disabled {
        color: #bbbbbb;
        text-shadow: 0 0 2px #bbbbbb;
      }
    }
  }
}
