<div class="main">
  <h1>STRATAGEM HERO</h1>
  <ul class="menu">
    <li class="menu-item">
      <a #menuItem routerLink="/arcade" class="menu-item__text" ariaCurrentWhenActive="page">Arcade Game</a>
    </li>
    <li class="menu-item">
      <a #menuItem routerLink="/stratagems" class="menu-item__text disabled" ariaCurrentWhenActive="page">Stratagems</a>
    </li>
    <li class="menu-item">
      <a #menuItem routerLink="/credits" class="menu-item__text" ariaCurrentWhenActive="page">Credits</a>
    </li>
  </ul>
  <div class="helpSection">
    <p class="help">Use <span>W</span>, <span>S</span> or <span>↑</span>, <span>↓</span> to navigate on the menu.</p>
    <p class="help">Press <span>Enter</span>, <span>Space</span> to select an option.</p>
  </div>
</div>
